

.container{
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  Font-size:0.9375rem;
  font-family: 'Poppins', sans-serif;
  width: 90rem;
  height: auto;
}
h1{
  width:31.25rem;
  margin:auto;

}
h3{
  padding-left: 1.25rem;
  padding-top: 1.25rem;
}
svg{
  padding-left:12.5rem ;
}
div{
  background-color: white;
  border-radius:0.9375rem ;
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 0 33.4px white,
  0 0 0 white;
;
  border-top-style:outset;
  text-align:left;
  width:16.875rem;
  height:14.375rem;
  margin: auto;
}


p{
  font-family: 'Jura', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Cabin', sans-serif;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  font-weight: 200;
}
/* ******************************head*********************************** */
.head-up{
  font-family: 'Jura', sans-serif;
  font-family: 'Catamaran', sans-serif;
  font-weight: lighter;
  font-size:1.875rem ;
  width:34.375rem;
  margin:auto;
  padding-bottom: 0.625rem;
}
.head-descroption{
  font-family: 'Jura', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Cabin', sans-serif;
  width:28.125rem;
  margin:auto;
  padding-top: 1.25rem;
}


/***********************************team************************************ */
.Team-Builder{
  border-top-color: hsl(0, 78%, 62%);
  margin-top:3.125rem ;
  box-shadow:white;
}


/********************************************* supervisor********************************************************/
.Supervisor{
  border-top-color:hsl(180, 62%, 55%) ;
  margin-left:18.0625rem;
  position:absolute;
  top:21.875rem;
}

/* ******************************karma************************************ */
.karma{
  border-top-color:hsl(34, 97%, 64%);
  margin-top:1.25rem ;
}
/* ****************************calculator************************************* */
.Calculator{
  border-top-color: hsl(212, 86%, 64%);
  position: absolute;
  right:11.25rem;
  top:21.875rem;
}
@media only screen and (max-width:375px)
 {
  body{
    background-color: blue;
  }
  .container{
    width:350px;
    height:1200px;
  }
  .head-descroption{
    width:100px;
    font-size: 20px;
  }
  .Supervisor{
    margin:auto;
    position:absolute;
    top:200px;
    margin-left: 50px;
  }
  .Team-Builder{
    margin:auto;
    position:absolute;
    top:450px;
    margin-left: 50px;
  }
  .karma{
    margin:auto;
    position:absolute;
    top:700px;
    margin-left: 50px;
  }
  .Calculator{
    position:relative;
    top:580px;
    margin-left: 240px;
  }
  h1{
    width:400px;
    font-size: 40px;
  }
  .head-up{
    width:350px;
    font-size: 40px;
  }
}
